/*Core*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #20897b
}

a {
    color: #20897b
}
a:hover,
a:focus {
    color: #20897b
}
	/*Core > dropdown*/
.dropdown-menu {
    background: #4ba89c
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    background: #20897b
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: #20897b
}
	/*Core > moodle-actionmenu*/
.jsenabled .usermenu .moodle-actionmenu.show {
    background: #103430
}
.usermenu .moodle-actionmenu:hover .toggle-display,
.usermenu .moodle-actionmenu:focus .toggle-display {
    background: #103430
}
.moodle-actionmenu.show[data-enhanced] .menu {
    background: #103430;
    background: rgba(16, 52, 48, .9)
}
.moodle-actionmenu.show[data-enhanced] .menu a:hover,
.moodle-actionmenu.show[data-enhanced] .menu a:focus,
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
    background: #4ba89c
}
.jsenabled .usermenu .moodle-actionmenu > .menu .filler {
    background: #103430
}
	/*Core > bootstrap*/
.btn-primary {
    background: #4ba89c
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #20897b
}


/*Header*/
#header .header-main {
    background: #4ba89c
}
#header .custom-menu > ul > li {
    background-image: url([[pix:theme|cs04/bg-menu-divider]])
}
#header .custom-menu > ul > li > a:hover,
#header .custom-menu > ul > li > a:focus {
	background: #103430
}
#header .header-menubar {
    background: #20897b
}
#header .header-menubar .navbar .nav > li > a:focus,
#header .header-menubar .navbar .nav > li > a:hover {
    background-color: #103430
}
#header .header-menubar .navbar .nav > .active > a,
#header .header-menubar .navbar .nav > .active > a:hover,
#header .header-menubar .navbar .nav > .active > a:focus {
    background: #103430
}
#header .header-menubar .navbar .nav li.dropdown.open > .dropdown-toggle,
#header .header-menubar .navbar .nav li.dropdown.active > .dropdown-toggle,
#header .header-menubar .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #103430
}
#header .header-menubar .dropdown-menu {
    background: #103430
}
#header .header-menubar .dropdown-menu > li > a:hover,
#header .header-menubar .dropdown-menu > li > a:focus,
#header .header-menubar .dropdown-submenu:hover > a,
#header .header-menubar .dropdown-submenu:focus > a {
    background: #4ba89c
}
#header .header-menubar .dropdown-menu > .active > a,
#header .header-menubar .dropdown-menu > .active > a:hover,
#header .header-menubar .dropdown-menu > .active > a:focus {
    background: #4ba89c
}

#header .header-menubar .navbar .btn-navbar {
    background: #4ba89c
}
#header .header-menubar .navbar .btn-navbar:hover,
#header .header-menubar .navbar .btn-navbar:focus,
#header .header-menubar .navbar .btn-navbar:active,
#header .header-menubar .navbar .btn-navbar.active,
#header .header-menubar .navbar .btn-navbar.disabled,
#header .header-menubar .navbar .btn-navbar[disabled] {
	background: #4ba89c
}
#header .header-menubar .navbar .btn-navbar:active,
#header .header-menubar .navbar .btn-navbar.active {
	background: #4ba89c \9
}
#header .header-menubar .custom-nav-search .fields-wrap {
    background: #17786b
}
@media (max-width: 979px) {
    #header .header-menubar .collapse.in,
    #header .header-menubar .navbar .nav-collapse.active {
        border-top-color: #4ba89c
	}
}


/*Footer*/
#footer .footer-main {
    background: #4ba89c
}
#footer .social-media > ul > li > a:hover,
#footer .social-media > ul > li > a:focus {
    color: #103430
}
#footer .social-media > ul > li > a:hover .media-icon,
#footer .social-media > ul > li > a:focus .media-icon {
    background: #103430
}
#footer .footer-foot {
    background: #20897b
}


/*Frontpage*/
	/*Frontpage > Home Page Carousel*/
.homepage-carousel .carousel-inner > .item .carousel-content .carousel-btn > a {
    background: #4ba89c;
    border-bottom-color: #103430;
    border-bottom-color: rgba(16, 52, 48, .9)
}
.homepage-carousel .carousel-inner > .item .carousel-content .carousel-btn > a:hover,
.homepage-carousel .carousel-inner > .item .carousel-content .carousel-btn > a:focus {
    background: #4ba89c;
    border-bottom-color: #103430;
    border-bottom-color: rgba(16, 52, 48, .9)
}
.homepage-carousel .carousel-control {
    background: #20897b
}
	/*Frontpage > New/Featured Custom Course List Slider*/
.titlebar .slidenav .nav-item {
    color: #20897b;
    border-color: #20897b
}
.titlebar .slidenav .nav-item:hover,
.titlebar .slidenav .nav-item:focus {
    background: #20897b
}
.custom-courses-list .course-box .thumb {
    border-color: #c2e8e5
}
.custom-courses-list .course-box .info h5 a {
    color: #20897b
}
	/*Frontpage > Available Courses*/
#frontpage-course-list {
    border-color: #c0dcdb
}
#frontpage-course-list h2 {
    background: #e4f7f6;
    border-bottom-color: #c0dcdb
}
#frontpage-course-list .courses.frontpage-course-list-all .fp-coursebox .fp-courseinfo h5 > a {
    color: #20897b
}
	/*Frontpage > Category Listing*/
#frontpage-category-names {
    border-color: #c0dcdb
}
#frontpage-category-names h2 {
    background: #e4f7f6;
    border-bottom-color: #c0dcdb
}
.course_category_tree.frontpage-category-names .category.with_children > .info > .categoryname:before {
    color: #20897b
}
	/*Frontpage > Site News Forum*/
#site-news-forum {
    border-color: #c0dcdb
}
#site-news-forum h2 {
    background: #e4f7f6;
    border-bottom-color: #c0dcdb
}
#site-news-forum .forumpost .subject {
    color: #20897b
}


/*Moodle Core*/
#page-header .breadcrumb > li > .divider {
    color: #103430
}
#page-header .breadcrumb > li > .divider:before {
    color: #103430
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #4ba89c
}
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"],
td.submit input {
	background: #4ba89c
}
input.form-submit:hover,
input#id_submitbutton:hover,
input#id_submitbutton2:hover,
.path-admin .buttons input[type="submit"]:hover,
td.submit input:hover,
input.form-submit:focus,
input#id_submitbutton:focus,
input#id_submitbutton2:focus,
.path-admin .buttons input[type="submit"]:focus,
td.submit input:focus,
input.form-submit:active,
input#id_submitbutton:active,
input#id_submitbutton2:active,
.path-admin .buttons input[type="submit"]:active,
td.submit input:active,
input.form-submit.active,
input#id_submitbutton.active,
input#id_submitbutton2.active,
.path-admin .buttons input.active[type="submit"],
td.submit input.active,
input.form-submit.disabled,
input#id_submitbutton.disabled,
input#id_submitbutton2.disabled,
.path-admin .buttons input.disabled[type="submit"],
td.submit input.disabled,
input.form-submit[disabled],
input#id_submitbutton[disabled],
input#id_submitbutton2[disabled],
.path-admin .buttons input[type="submit"][disabled],
td.submit input[disabled] {
    background: #20897b
}


	/*Moodle Core > Add Blog Link*/
.addbloglink a {
    background: #4ba89c
}
.addbloglink a:hover,
.addbloglink a:focus {
    background: #20897b
}


/*Blocks*/
.block {
	border-color: #c0dcdb
}
.block .header {
    background: #e4f7f6;
    border-bottom-color: #c0dcdb
}
.block .header h2 {
    color: #20897b
}
	/*Blocks > block navigation*/
.block_navigation .block_tree .active_tree_node > a,
.block_navigation .block_tree .tree_item > a:hover,
.block_navigation .block_tree .tree_item > a:focus {
    color: #20897b
}
	/*Blocks > block settings*/
.block_settings .block_tree .active_tree_node > a,
.block_settings .block_tree .tree_item > a:hover,
.block_settings .block_tree .tree_item > a:focus {
    color: #20897b
}
	/*Blocks > calender*/
.block .minicalendar td.day.today,
.block .minicalendar td.day:hover {
    background: #20897b
}


/*Tables*/
			/*Tables > general & flexible tables*/
table.flexible th,
.generaltable th {}
table.flexible thead th,
.generaltable thead th,
.rolecap thead th {
    background: #4ba89c
}
table.flexible tbody th,
.generaltable tbody th, 
.rolecap tbody th {
    color: #4ba89c
}
			/*Tables > forumheaderlist*/
.path-mod-forum .forumheaderlist thead .header {
    background: #4ba89c
}


/*Course*/
.course_category_tree .category > .info > .categoryname {
    background-image: url([[pix:theme|cs04/t/collapsed_empty]])
}
.dir-rtl .course_category_tree .category > .info > .categoryname {
    background-image: url([[pix:theme|cs04/t/collapsed_empty_rtl]])
}
.course_category_tree .category.with_children >.info >.categoryname {
    background-image: url([[pix:theme|cs04/t/expanded]])
}
.course_category_tree .category.with_children.collapsed > .info > .categoryname {
    background-image: url([[pix:theme|cs04/t/collapsed]])
}
.dir-rtl .course_category_tree .category.with_children.collapsed > .info > .categoryname {
    background-image: url([[pix:theme|cs04/t/collapsed_rtl]])
}
.coursebox > .info > .coursename a {
    color: #20897b
}
.coursebox > .info > .coursename a:hover,
.coursebox > .info > .coursename a:focus {
    color: #103430
}


    /*Modules: Forum & Blog*/
.forumpost .options .commands > a:hover,
.forumpost .options .commands > a:focus,
.forumpost .options .footer > a:hover,
.forumpost .options .footer > a:focus {
    color: #20897b
}
.blog_entry .audience {
    color: #20897b
}
.blog_entry .content .commands > a:hover,
.blog_entry .content .commands > a:focus {
    color: #20897b
}
.comment-area .fd > a {
    background: #20897b
}
.comment-area .fd > a:hover,
.comment-area .fd > a:focus {
    background: #7a437a
}


/*Custom Login Page*/
.custom-login-page .loginbox {
    background: #20897b
}
.custom-login-page .loginbox .formwrap .form-fields .textbox-wrap .fa {
    color: #20897b
}

/*Custom Site Expo*/
.custom-site-expo .ebox .ebox-head .rcthumb {
    background: #20897b
}