{{#promatedcourse}}
<div class="custom-courses-list" class="Promoted-Courses">
    <div class="container-fluid">
        <div class="titlebar with-felements">
            <h2> {{promotedtitle}} </h2>
            <div id="promatedcourse-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#courses}}
                    <div class="carousel-item">
                        {{#.}}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="course-box">
                                <div class="thumb">
                                    <a href="{{courseurl}}"><img src="{{imgurl}}" width="135" height="135" alt=""></a>
                                </div>
                                <div class="info">
                                    <h5><a href="{{courseurl}}"> {{coursename}} </a></h5>
                                </div>
                            </div>
                        </div>
                        {{/.}}
                    </div>
                    {{/courses}}
                </div>
                <a class="carousel-control carousel-control-prev" href="#promatedcourse-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control carousel-control-next" href="#promatedcourse-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
{{/promatedcourse}}