{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_eguru/header.
    Eguru header layout template.
}}
<header id="header" role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex">
  <div class="header-menubar">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div data-region="drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn pull-xs-left m-r-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">
            <span aria-hidden="true">&#9776;</span>
            <span class="sr-only"></span>
            <span></span>
            <span></span>
            <span></span>
            </button>
          </div>

          <div class="custom-menu visible-desktop">
            <ul>
            {{{ output.user_menu }}}
            </ul>
          </div>

          <a href="#" class="brand" style="display: none;">Eguru</a>
          {{{ output.navbar_plugin_output }}}

          <div id="Mainmenu" class="nav-collapse collapse navbar-responsive-collapse">
            {{{output.custom_menu}}}
            <div class="custom-nav-search">

              <form action="{{{surl}}}" method="get">
                <div class="fields-wrap">
                <input type="text" placeholder="<?php echo get_string('searchcourses'); ?>" name="search">
                <div class="btn-search fa fa-search"><input type="submit" value="Search"></div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</header>

<div class="header-main">
    <div class="container">
      <nav class="navbar navbar-toggleable-md">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="header-logo">
            <a class="navbar-brand" href="{{{ config.wwwroot }}}/?redirect=0">
              <img src="{{logo}}" width="183" height="67" alt="Eguru">
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="custom-menu">
              <ul class="navbar-nav mr-auto">
                {{{output.custom_menu}}}
                {{{ output.search_box }}}
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
      </nav>
    </div>
  </div>
<!--E.O.Header-->
